<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotels | Guests</title>
</head>
<body>
    <h1>Welcome to the Guests Page</h1>
    <table>
        <tr>
            <th>Last name</th>
            <th>First name</th>
            <th>Email address</th>
            <th>Phone number</th>
        </tr>
        <tr th:each="guest: ${guests}">
            <td th:text="${guest.lastName}">Last name</td>
            <td th:text="${guest.firstName}">First name</td>
            <td th:text="${guest.emailAddress}">Email address</td>
            <td th:text="${guest.phoneNumber}">Phone number</td>
        </tr>
    </table>
</body>
</html>